# PostgreSQL
POSTGRES_USER=c2GE9Y1B
POSTGRES_PASSWORD=UXQrqmjj8319ORlE
POSTGRES_DB=riIFzqsx_db
SECRET_KEY=c2GE9Y1BUXQrqmjj8319ORlEriIFzqsx
DATABASE_URL=postgresql+psycopg://c2GE9Y1B:UXQrqmjj8319ORlE@postgres:5432/riIFzqsx_db

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# PgAdmin
PGADMIN_DEFAULT_EMAIL=admin@nradar.com
PGADMIN_DEFAULT_PASSWORD=admin

# Application
APP_HOST=0.0.0.0
APP_PORT=8000
