# Byte-code files
*.pyc
__pycache__/

# IDE-specific files
.idea/
.vscode/

# Virtual environment
.venv/
virtualenv/
venv/

# Dependency management
poetry.lock

# Environment variables
.env

# Docker
*.dockerignore

# Logs
*.log

# Database
*.sqlite3

# Testing
.pytest_cache/
.coverage
htmlcov/

# Celery
celerybeat.pid
celeryd.pid

# Other
.DS_Store